language: ruby
#cache: bundler

before_install:
  # https://github.com/travis-ci/travis-ci/issues/8978
  - gem update --system
  - gem update bundler
  - bundle version

rvm:
  - 2.2
  - 2.3
  - 2.4
  - 2.5
  - ruby-head
  - jruby-19mode

matrix:
  fast_finish: true
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-19mode

deploy:
  provider: rubygems
  api_key:
    secure: BQQeiJ84RINkM5Pxm7zFSAbOS2T5THi+37CoswQXe5eTi+0PIl14plWJByGOj2ho2e6kam5XU/VUgQzDexhkFz174QDP+BIuhdNxRMuMqgKuffi0Cyb9CM7JybpsB+Yd97X3nNxiubR/qoJPQ5nvG1SvCuF2TK3Zq8cL5VfxZ9o=
  gem: ovpnmcgen.rb
  on:
    tags: true
    repo: "iphoting/ovpnmcgen.rb"
    ruby: 2.4.0
    branch: master
